.ui.card
  .content
    .description(style='white-space: pre-wrap; font-size: 20px;') Please navigate the platform as you usually would on any social media. The post-survey link will show up at the end of the feed.
